/* Large devices*/
@media (min-width: 992px) {
    .big-top th{
        font-size: 1.3em;
    }
    .big-nottop td{
        font-size: 1.2em;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
    .mdm-top th{
        font-size: 1.2em;
    }
    .mdm-nottop td{
        font-size: 1.1em;
    }
}
/* Small devices */
@media (max-width: 768px) {
    .sml-top th{
        font-size: 1.1em;
    }
}


tbody tr:nth-child(odd) td{
    background-color: gray;
}
table{
    border-collapse: collapse;
}
table td,th{
    border: solid black 2px;
    text-align: center;
    padding: 2px;
}
h1{
    text-align: center;
    font-size: 22px;
}
p>a{
    font-style: oblique;
}
h2{
    text-align: center;
}
th{
    text-align: center;
    background-color: green;
    color:white;
    font-weight:bold;
}
th:nth-child(5), td:nth-child(5){
    text-align: end;
}